
3. Курс Клиент-серверные iOS-приложения/WeatherApp/Pods/Realm/core/realm-monorepo.xcframework/watchos-arm64_i386_x86_64-simulator/librealm-monorepo.a

MessengerApp/Pods/

3. Курс Клиент-серверные iOS-приложения/WeatherApp/Pods/SwiftyJSON/
